StockCharts/extjs5x/ext
StockCharts/extjs5x/build/.sass-cache
StockCharts/extjs5x/build/temp
StockCharts/touch2x/build
extjs-kitchensink/ext/packages/*/build
#extjs-kitchensink/ext
extjs-kitchensink/build
*~
*.swp