#app-header {
    background-color:#E3742D; //#2a3f5d;
}

#app-header-title {
    padding: 15px 10px 10px 31px;

    background: url(images/chartsly_logo_bw_s.png) no-repeat 5px;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
